@use "variable" as var;

.horizontal-line{
    width: 100%;
    height: 1px;
    background-color: var.$horizontalLineColor;
    margin: 10px 0;
}
.form-border{
    border-top: 4px solid var.$formBorder;
}
@media (max-width :768px) {
    .form-section{
        align-items: unset !important;
        height: auto !important;
        margin-top: 10px;
    }
}